.BrandInfo__header {
    height: 73px;
    width: 100vw;
    border: 1px solid #d1dee5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.BrandInfo__headerRight {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: grey;
    margin-left: 10px;
}

.Info__carousel {
    position: relative;
    display: flex;
    flex-direction: row !important;
    margin-top: 50px;
    margin-left: 120px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.info__circle > p {
    font-size: 17px;
    color: gray;
}

.largeCircle {
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.brandinfo__title {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 40px;
}

h1 {
    font-size: 30px;
    margin-left: 15px;
}

.info__para {
    margin-top: 35px;
    margin-left: 120px;
    font-size: larger;
    color: gray;
    width: 500px;
    height: 50px;
}

.info__mandatory {
    margin-top: 75px;
    margin-left: 120px;
    color: black;
    font-size: 18px;
}

.form__container {
    margin-left: 120px;
    margin-top: 25px;
    width: 500px;
}

.form__group {
    margin-bottom: 20px;
}

.form__group label {
    display: block;
    margin-bottom: 5px;
    color: gray;
}

.form__input {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.submit__button {
    width: 100%;
    padding: 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.submit__button:hover {
    background-color: #d0d0d0;
}
