/* BrandInfo.css */
.BrandInfo__mainContainer {
    display: flex;
    height: 100vh; /* Ensure full height */
  }
  
  .BrandInfo__firstContainer {
    flex: 1; /* Ensures it takes up available space */
    display: flex;
    align-items: center; /* Center content vertically if needed */
    border-right: 1px solid #ccc; /* Optional: border between containers */
  }
  
  .BrandInfo__secondContainer {
    flex: 3; /* Adjusts the width ratio between the containers */
    display: flex;
   
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
  }
  
 
  