/* Add or modify the following CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Dashboard__container {
  display: flex;
  height: 100vh; /* Ensure full viewport height */
}

.Dashboard__nav {
  width: 350px; /* Set fixed width for navigation */
  border-right: 1px solid #f9f9f9;
}

.Dashboard__content {
  flex-grow: 1;
background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}

.Dashboard__HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between elements */
  border-bottom: 1px solid #EDEFF5;
  padding: 20px;
  margin-bottom: 20px;
  height: 120px;
}

.Dashboard__HeaderContainer h4 {
  margin: 0;
}

.Dropdown {
  position: relative;
}

.Dropdown__button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #EDEFF5;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

.Dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  z-index: 1;
}

.Dropdown__menu label {
  display: block;
  margin-bottom: 5px;
}

.Dropdown__menu input[type="checkbox"] {
  margin-right: 5px;
}

.Dashboard__HeaderContainer_firstContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}

.Dashboard__HeaderContainer_firstContainer  h4{
  font-weight: 600;
  font-size: 42px;
}

.createCardButton{
  background: linear-gradient(45deg, #2020ed, #e0055f);
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 170px;
}

.Dashboard__mainContent{
  padding: 20px;
}

.Dashboard__mainContent__uppercards{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Dashboard__mainContent__graphs{
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 15px;
}