.Questions__mainContainer {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .Questions__questionContainer {
    margin-bottom: 30px;
  }
  
  .Questions__questionContainer__questionInput {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  .Question__answersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .Question__answerOptions {
    width: 45%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
  }
  
  .Question__answerOptions:hover {
    border-color: rgba(0, 0, 0, 0.3);
  }
  
  .Question__answerInput {
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
    background-color: transparent;
    outline: none;
  }
  
  .Questions__addButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  .Questions__addButton:hover {
    background-color: #0056b3;
  }
  
  .Questions__submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .Questions__submitButton:hover {
    background-color: #218838;
  }
  

